<h1>Password Generator</h1>

<div>
  <label>Enter length:</label>
  <input (input)="onChangeLength($any($event.target).value)" type="text" />
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>

<div>
  <button
    [disabled]="
      !(length && (includeLetters || includeSymbols || includeNumbers))
    "
    (click)="onButtonClick()"
  >
    Generate !
  </button>
</div>

<div>
  <label>Your Password</label>
  <input type="text" [value]="password" />
</div>
